.about {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 800px;
  &__inner {
    max-width: 500px;
  }
  &__nav {
    margin-bottom: 15px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }
  &__link {
    flex-grow: 1;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #EFEFEF;
  }
  &__title {
    margin-bottom: 22px;
    font-size: 72px;
    line-height: 72px;
    color: #ffffff;
  }
  &__text {
    margin-bottom: 46px;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
  }
  &__button {
    padding: 20px 30px;
    background-color: #ffffff;
    border: 1px solid transparent;
    color: #000000;
    &:hover {
      transition: .2s;
      background-color: transparent;
      border-color: #ffffff;
      color: #ffffff;
    }
  }
}
