.footer {
  background-color: #000000;
  padding: 100px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    margin-bottom: 40px;
  }
  &__select {
    display: flex;
    flex-direction: column;
    width: 20%;
  }
  .currency {
    margin-bottom: 15px;
  }
  label > select {
    text-transform: uppercase;
    cursor: pointer;
    padding: 17px 15px;
    color: #ffffff;
    background: #1A1A1A;
    border: 1px solid #1A1A1A;
  }
  &__nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }
  &__nav-list > li {
    list-style: none;
  }
  &__nav-list > li > a {
    text-transform: uppercase;
    color: #ffffff;
  }
  &__list-title {
    margin-bottom: 25px;
  }
}
