.header {
  background-color: #000000;
  & .container {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  max-width: 500px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  &__item {
    text-transform: uppercase;
    color: #ffffff;
  }
}

.button-login {
  padding: 20px 30px;
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
  &:hover {
    padding: 19px 29px;
    border: 1px solid #ffffff;
    color: #ffffff;
  }
}

.button-start {
  padding: 20px 30px;
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  &:hover {
    padding: 19px 29px;
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
  }
}