.btn {
    text-decoration: none;
    border: none;
    background: #ffffff;
    cursor: pointer;
}

.btn:hover {
    transition: .4s;
    background: #241C15;
    color: #ffffff;
}

/*header__buttons*/

.log-in {
    padding: 12px 29px;
    margin-right: 24px;
    border: 1px solid #000000;
    border-radius: 0;
}

.sign-up {
    padding: 12px 16px;
    background: #007C89;
    border-radius: 0;
}

/*footer__buttons*/

.footer__button {
    border: 1px solid #241C15;
    padding: 10px;
    margin-bottom: 20px;
}

/*about__buttons*/

.about__button {
    padding: 20px 40px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
    background: #692340;
    color: #FBEECA;
}

/*account__buttons*/

.account__button {
    padding: 20px 40px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    background: #FBEECA;
    border: 1px solid #692340;
    color: #692340;
}
