.community {
    background: #ffffff;
    padding: 120px 0 140px;
}

.community .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community__title {
    font-size: 50px;
    line-height: 55px;
    max-width: 480px;
    text-align: center;
    color: #692340;
    margin-bottom: 120px;
}

.community__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.community__info-item {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    max-width: 385px;
}

.community__item-photo {
    margin-bottom: 20px;
    position: relative;
    width: 327px;
    height: 184px;
}

.community__item-photo > img {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.community__photo-link {
    font-weight: bold;
    font-size: 24px;
    line-height: 55px;
    color: #692340;
}

.community__item-tittle {
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 15px;
    color: #692340;
}

.community__item-text {
    font-size: 18px;
    line-height: 29px;
    color: #692340;
}

.community__buttons {
    display: flex;
    justify-content: space-between;
}

.community__buttons-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
}

.community__buttons-title {
    font-weight: bold;
    max-width: 220px;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #692340;
    margin-bottom: 30px;
}

.community__button {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #692340;
    color: #692340;
}
