.header {
    padding: 35px;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    background: #ffffff;
    transition: 0.3s;
}

.header-fixed {
    padding: 15px;
    z-index: 2;
    position: fixed;
    background-color: #007C89;
}

.button {
    max-width: 100px;
    margin-top: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 485px;
    padding: 0 20px;
}

.header__link {
    margin-right: 20px;
}

.header__link:last-child {
    margin-right: 0;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 5%;
    font-weight: 900;
    font-size: 24px;
}

.logo > img {
    margin-right: 5px;
}

.logo:hover {
    transition: .4s;
    color: #692340;
}

.header__buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

