.footer {
    width: 100%;
    flex: 0 0 auto;
}

.footer__content {
    padding: 85px 0;
    background: #F7F7F7;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.footer__list {
    margin-bottom: 14px;
    list-style: none;
}

.footer__link {
    text-decoration: none;
    color: #1A1A1A;
}

.footer__link:hover {
    color: chocolate;
    transition: .2s;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
}

.footer__copyright-title {
    text-align: right;
    padding: 0 20px;
    margin-bottom: 35px;
}

.footer__copyright-title > p {
    font-size: 15px;
    margin-bottom: 10px;
}

.footer__social {
    text-align: right;
}

.footer__social .footer__link {
    margin-left: 16px;
}
