.section_bg5 {
    position: relative;
    min-height: 600px;
    display: flex;
    align-items: center;
}

.section_bg5 > img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.section_5__info {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.section_5__title {
    font-size: 35px;
    line-height: 54px;
    width: 750px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.section_5__link {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
}

.section_5__link:hover {
    color: chocolate;
    transition: .2s;
}
