.section_bg2 {
    padding: 127px 0;
    background: #CED3CA;
}

.section_2__info {
    display: flex;
    justify-content: space-between;
    background: #F7F7F7;
}

.section_2__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 93px;
}

.section_2__title {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 36px;
    color: #1A1A1A;
}

.section_2__link {
    font-size: 16px;
    text-decoration: underline;
    color: #1A1A1A;
}

.section_2__link:hover {
    color: chocolate;
    transition: .3s;
}
